.modal-form {
    display: none;
}

.opened {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #292929;
    z-index: 99;
}

.opened p{
    text-align: center;
}

form {
    background: #2e2e2e;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

form input {
    width: 80%;
    height: 30px;
    margin: 5px 0;
    color: #808080;
    padding: 5px;
    outline: none;
}

form input:focus{
    box-shadow: inset 0px 0px 8px #29292930;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 25px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

h1 {
    color: #fff;
    font-weight: 200;
    line-height: 36px;
    margin: 40px 0;
}

span {
    color: #FF7A00;
}

p {
    color: #fff;
    font-weight: 200;
    line-height: 20px;
    margin: 20px 0;
}

button {
    width: 200px;
    height: 30px;
    background: #FF7A00;
    color: #fff;
    border: none;
    margin: 10px 0;
}

svg {
    margin: 10px 10px 0;
}

@media screen and (min-width: 768px){
    h1{
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }

    p{
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
    button {
        width: 250px;
        height: 40px;
        cursor: pointer;
        position: relative;
        transition: all .8s ease-in-out;
        overflow: hidden;
    }

    button::before {
        content: '';
        width: 50%;
        height: 50px;
        position: absolute;
        background: #292929;
        top: 0;
        left: -50%;
        transition: all .8s ease-in-out;
    }

    button:hover::before{
        left: 100%;
        background: #FF7A00;
    }

    button:hover{
        background: #292929;
    }

    form input {
        height: 50px;
    }
    
}